body {
	background-image: url("../assets/background2.png");
	font-family: "Lato";
	font-weight: 100;
	color: #333333;
	margin: 0px;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("http://fonts.gstatic.com/s/lato/v11/KT3KS9Aol4WfR6Vas8kNcg.woff") format("woff");
}

a {
	text-decoration: none;
	color: black;
	font-weight: 100;
}

a:hover, a:active {
	color: #e1005f;
	/*color: #bd0143; pink */
}

h3 {
	font-weight: 200;
}

#banner {
	position: fixed;
	height: 50px;
	width: 100%;
	display: block;
	border: none;
	margin-top: 0px;
	padding-top: 0px;
	vertical-align: top;
	background-color: #2f3c50;
	z-index: 1;
	box-shadow: 0px 1px 0px #1a2536;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#page-title {
	margin-top: 7px;
	margin-left: 5px;
	position: fixed;
	z-index: 2;
}

#page-title img {
	height: 38px;
}

 hr {
	margin: 0px;
	border-color: #f2f2f2;
	width: 100%;
	opacity: 0.2;
}

.project-details {
	display: inline-block;
	clear: none;
	vertical-align: top;
	
	width: 885px;
	height: 100%;
	
	background-color: white;
	
	border-radius: 5px;
	box-shadow: 1px 2px 2px #e9eaed;
	
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	
	margin-right: 20px;
	margin-top: 65px;
	margin-bottom: 90px;
}

.project {
	width: 100%;
}

.project-details h2 {
	font-weight: 100;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block
}

.project-details h4 {
	display: inline-block;
	font-size: 20px;
	font-weight: 100;
	margin-top: 20px;
	margin-bottom: 20px;
}

.project-menu {
	position: fixed;
	width: 210px;
	height: 500px;
	display: inline-block;
	clear: none;
	margin-top: 65px;
	vertical-align: top;
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
	box-shadow: 1px 2px 2px #e9eaed;
}

.project-menu #menu-medley {
	color: #e1005f;
}

.thumbnails {
	width: 500px;
	height: 350px;
	vertical-align: top;
	display: inline-block;
	margin-right: 27px;
	margin-bottom: 10px;
}

.thumb-box {
	width: 246px;
	height: 248px;
	display: inline-block;
	overflow: hidden;
	border: 1px solid #f4f4f4;
	position: relative;
}

.thumb-box1 {
	width: 500px;
	height: 248px;
	display: inline-block;
	overflow: hidden;
	border: 1px solid #f4f4f4;
	position: relative;
}

.thumb-box2 {
	width: 500px;
	height: 350px;
	display: inline-block;
	overflow: hidden;
	border: 1px solid #eaeaea;
	position: relative;
}

.horizontal img{
	position: absolute;
	height: 100%;
}

.vertical img{
	position: absolute;
	width: 100%;
}

.thumbnails img {
	position: relative;
}

.project-dscrp {
	width: 350px;
	display: inline-block;
}

.names {
	font-weight: 350;
	color: #000000;
}

.project-dscrp p {
	margin-top: 0px;
}

.link{
	display: inline-block;
	margin-right: 50px;
	margin-top: 15px;
	margin-bottom: 5px;
	color: #96898F;
}

.link:hover {
	color: #E1005F;
}

#icons {
	display: inline-block;
	width: 90px;
	position: fixed;
	z-index: 2;
	margin-top: 580px;
	opacity: 0.2;
	height: 60px;
	margin-left: 150px;
}

#icons a:hover {
	opacity: 0.6;
}

#icon-g {
	height: 30px;
	vertical-align: top;
	margin-top: 2px;
	margin-right: 4px;
}

#icon-l {
	height: 35px;
	vertical-align: top;
}

/* styling for lightbox */

.lightbox-overlay {
	z-index: 1000;
	top: 0px;
	left: 0px;
	background-color: black;
	width: 100%;
	height: 100%;
	position: fixed;
	opacity: 0.9;
	
	display: none;
}

.lightbox-display {
	display: none;
}

.svg:hover path, .svg:hover, .svg:hover line{
    stroke: #666666;
}

.lightbox-icons {
	z-index: 100000000000;
	position: fixed;
}

.clickable, .thumb-box2 {
	cursor: pointer;
}

.arrows {
	height: 50px;
	width: 25px;
}

#left-arrow {
	position: fixed;
	left: 15px;
}

#right-arrow {
	position: fixed;
	right: 0;
	right: 15px;
}

#x {
	position: fixed;
	height: 20px;
	width: 20px;
	right: 15px;
	top: 15px;
}

.lightbox {
	position: fixed;   /* Take it out of the flow of the document */
    left: 0;           /* Left edge at left for now */
    right: 0;          /* Right edge at right for now, so full width */ 
    top: 0;         /* Move it down from top of window */
	bottom: 0;
	
	max-width: 1000px;      /* Give it the desired width */ 
	max-height: 600px;
    
	margin: auto;      /* Center it */
	
    z-index: 1000000;    /* Whatever needed to force to front (1 might do) */
	
	display: none;
}

.lightbox img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	clear: none;
}

.lightbox .center-vert {
	display: inline-block;
	width: 100%;
}

.lightbox  .center-hor {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

.lightbox-caption {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	
	background-color: #111111;
	color: white;
	display: block;
	width: 100%;
	
	margin-left: auto;
	margin-right: auto;
}

.hidden {
	display: none;
}